<div id="edit-container">

  <h1>編集</h1>

  <%= form_with model: @book, local:true do |f| %>

    <div class="wrap">

      <h2>本のタイトル</h2>
      <%= f.text_field :title %>

      <h2>感想</h2>
      <%= f.text_area :body %>

      <div class="button"><%= f.submit 'Update Book' %>

    </div>

  <% end %>

  <div class="link-wrap">

  <%= link_to 'Show', book_path(@book) %></td>

  <%= link_to 'Back', books_path %></td>

  </div>

</div>